<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head'); %>
</head>
<body class="container">

<header>
    <%- include('header'); %>
</header>

<main>
<div>
    <h1>About page</h1>
    <p>This is the about page</p>
</div>

</main>

<!-- 
<footer>
    <%- include('footer'); %>
</footer>
-->

</body>
</html>